@font-face{
    font-family:"Roboto",'sans-serif';
    src: url(Roboto-Regular.ttf);
}
body{
    margin:0;
    background:#e9ebee;
}


.content_1{
    text-align:center;
    margin-top:-45%;

}
.content_2{
    text-align:center;
    margin-top:2%;
}
.content_3{
    text-align:center;
    margin-top:2%;
}
.ticket{
    width:20%;
    position: relative;
    cursor:pointer;

}
.text_11{
    text-decoration:none;
    color:black;
    font-size:1.4em;
    width:15%;
    font-family:Roboto;
    position:absolute;
    left:42%;
    margin-top:2%;
    z-index:1;
}

.text_21{
    text-decoration:none;

    width:20%;
    color:black;
    font-size:1.5em;
    font-family:Roboto;
    position:absolute;
    left:40%;
    margin-top:4.5%;
    z-index:1;
}
.text_31{
    text-decoration:none;
    width:15%;
    color:black;
    font-size:1.3em;
    font-family:Roboto;
    position:absolute;
    left:42.5%;
    margin-top:2.5%;
    z-index:1;
}


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    font-family:Roboto;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;

}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
